/* menu-bar css start */
* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(bg-img-2.png);
    background-size: cover;
}

.ha-menu-bar {
    background-color: rgba(0, 0, 0, .5);
    color: #669999;
    text-align: center;

}

.ha-menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: white;
}

.ha-menu-bar ul li {
    width: 160px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.ha-menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.ha-menu-bar ul li:hover {
    background: #002745;
    border-radius: 3px;
}

.analysis-sub-menu {
    display: none;
}

.ha-menu-bar ul li:hover .analysis-sub-menu {
    display: block;
    position: absolute;
    background: #002745;
    margin-top: 15px;
    margin-left: -15px;
}

.ha-menu-bar ul li:hover .analysis-sub-menu ul {
    display: block;
    margin: 10px;
}

.ha-menu-bar ul li:hover .analysis-sub-menu ul li {
    width: 130px;
    padding: 20px;
    border-bottom: 1px solid #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.ha-menu-bar ul li:hover .analysis-sub-menu ul li:last-child {
    border-bottom: none;
}

.ha-menu-bar ul li:hover .analysis-sub-menu ul li a:hover {
    color: #0AC4EF;
}


.log-out {
    margin-top: 20px;
    margin-left: 50px;
    height: 35px;
    width: 85px;
    border-radius: 5px;
    background-color: #0AC4EF;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}

.log-out a {
    text-decoration: none;
}

.log-out a:hover {
    text-decoration: none;
    color: white;
}

/* menu-bar css start */

/* USER INFORMATION STYLE START */
.user-info {
    height: 80px;
    width: 300px;
    background-color: #002745;
    margin-top: 30px;
    margin-left: 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    border-radius: 15px;
}

.user-id {
    padding-left: 25px;
    padding-top: 15px;
}

.user-type {
    padding-left: 25px;
    padding-top: 5px;

}

/* USER INFORMATION STYLE END */

/* STUDENT WISE CO PLO SEARCH BUTTON STYLE START */

.search-id {
    margin-left: 50px;
    margin-top: 50px;
}

.choose-section {
    margin-top: 10px;
}

.id-entry {
    height: 40px;
    border-radius: 3px;
    background-color: #002745;
    color: white;
}

::placeholder {
    color: white;
}

.cse303 {
    height: 40px;
    width: 90px;
    border-radius: 8px;
    background-color: #032947;
    color: white;
    font-weight: bolder;
}

.cse310 {
    height: 40px;
    width: 90px;
    border-radius: 8px;
    background-color: #032947;
    color: white;
    font-weight: bolder;
}

/* STUDENT WISE CO PLO SEARCH BUTTON STYLE START */

/* enrollment stats search-option css start*/

.search-option-part {
    margin-left: 15px;
    margin-top: 30px;
}

.select-year {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: #002745;
    color: white;
    font-size: 15px;
}

.submit-button{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: #002745;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.option-button{
    margin-top: 10px;
    display: flex;
}

.school-wise{
    height: 35px;
    width: 150px;
    border-radius: 10px;
    background-color: #002745;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.department-wise{
    margin-left: 5px;
    height: 35px;
    width: 150px;
    border-radius: 10px;
    background-color: #002745;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.program-wise{
    margin-left: 5px;
    height: 35px;
    width: 150px;
    border-radius: 10px;
    background-color: #002745;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

/* enrollment stats search-option css end*/

/* ENROLLMENT GRAPH STYLE START  */

.chart-enrollment {
    height: 400px;
    width: 600px;
    margin-left: 500px;
    
}

/* ENROLLMENT GRAPH STYLE END  */

/* BACKLOG_DATA_DESIGN START*/
.backlog-view-btn{
    margin-left: 600px;
    margin-top: 20px;
    height: 42px;
    width: 150px;
    background-color: #032947;
    color: white;
    font-weight: bolder;
    border-radius: 4px;
}
/* BACKLOG_DATA_DESIGN START*/
