/* MENU BAR STYLE START */
* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(bg-img-2.png);
    background-size: cover;
}

.faculty-menu-bar {
    background-color: rgba(0, 0, 0, .5);
    color: #669999;
    text-align: center;

}

.faculty-menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: white;
}

.faculty-menu-bar ul li {
    width: 200px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.faculty-menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.faculty-menu-bar ul li:hover {
    background: #002745;
    border-radius: 3px;
}

.analysis-sub-menu {
    display: none;
}

.faculty-menu-bar ul li:hover .analysis-sub-menu {
    display: block;
    position: absolute;
    background: #002745;
    margin-top: 15px;
    margin-left: -15px;
}

.faculty-menu-bar ul li:hover .analysis-sub-menu ul {
    display: block;
    margin: 10px;
}

.faculty-menu-bar ul li:hover .analysis-sub-menu ul li {
    width: 170px;
    padding: 20px;
    border-bottom: 1px solid #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.faculty-menu-bar ul li:hover .analysis-sub-menu ul li:last-child {
    border-bottom: none;
}

.faculty-menu-bar ul li:hover .analysis-sub-menu ul li a:hover {
    color: #0AC4EF;
}

.data-entry-sub-menu {
    display: none;
}

.faculty-menu-bar ul li:hover .data-entry-sub-menu {
    display: block;
    position: absolute;
    background: #002745;
    margin-top: 15px;
    margin-left: -15px;
}

.faculty-menu-bar ul li:hover .data-entry-sub-menu ul {
    display: block;
    margin: 10px;
}

.faculty-menu-bar ul li:hover .data-entry-sub-menu ul li {
    width: 170px;
    padding: 20px;
    border-bottom: 1px solid #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.faculty-menu-bar ul li:hover .data-entry-sub-menu ul li:last-child {
    border-bottom: none;
}

.faculty-menu-bar ul li:hover .data-entry-sub-menu ul li a:hover {
    color: #0AC4EF;
}

.log-out {
    margin-top: 20px;
    margin-left: 50px;
    height: 35px;
    width: 85px;
    border-radius: 5px;
    background-color: #0AC4EF;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}

.log-out a {
    text-decoration: none;
}

.log-out a:hover {
    text-decoration: none;
    color: white;
}

/* MENU BAR STYLE END */

/* USER INFORMATION STYLE START */
.user-info {
    height: 80px;
    width: 250px;
    background-color: #002745;
    margin-top: 30px;
    margin-left: 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    border-radius: 15px;
}

.user-id {
    padding-left: 40px;
    padding-top: 15px;
}

.user-type {
    padding-left: 40px;
    padding-top: 5px;

}

/* USER INFORMATION STYLE END */

/* SEARCH ID STYLE OF STUDENT WISE CLO PLO START */

.search-id {
    margin-left: 50px;
    margin-top: 50px;
}

.choose-section {
    margin-top: 10px;
}

.id-entry {
    height: 40px;
    border-radius: 3px;
    background-color: #002745;
    color: white;
}

::placeholder {
    color: white;
}

.cse303 {
    height: 40px;
    width: 90px;
    border-radius: 8px;
    background-color: #032947;
    color: white;
    font-weight: bolder;
}

.cse310 {
    height: 40px;
    width: 90px;
    border-radius: 8px;
    background-color: #032947;
    color: white;
    font-weight: bolder;
}

/* DATA ENTRY TABLE STYLE START */

.data-entry-table {
    margin-left: 340px;
}

.assesment-options {
    margin-left: 60px;
    margin-top: 60px;
    height: 400px;
    width: 550px;
    background-color: #002745;
    border-radius: 10px;
}

.assesment-options tbody tr td {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.assesment-options tbody tr td p {
    margin: 5px 0;
    padding-left: 50px;
    color: white;
    font-size: 20px;
}

.assesment-options tbody tr td input {
    margin-left: 50px;
    height: 20px;
}

.assesment-options tbody tr td.submit-btn-wrapper {
    margin-right: 42px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.assesment-options tbody tr td.submit-btn-wrapper input.submit-btn {
    background-color: #9635EE;
    height: 25px;
    width: 80px;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

/* CSV FILE STYLE START */

.csv-file{
    margin-left: 400px;
    margin-top: 40px;
    margin-bottom: 50px;
    height: 80px;
    width: 550px;
    background-color: #002745;
    border-radius: 10px;
    color: white;
}
.text-csv{
    padding-left: 90px;
    padding-top: 10px;
    font-size:large;
}
.upload-btn{
    padding-left: 20px;
    font-size: medium;

}
.import-btn{
    margin-left: 374px;
    margin-top: 10px;
    background-color: #9635EE;
    height: 25px;
    width: 80px;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}