* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(bg-img-2.png);
    background-size: cover;
}

.ha-menu-bar {
    background-color: rgba(0, 0, 0, .5);
    color: #669999;
    text-align: center;

}

.ha-menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: white;
}

.ha-menu-bar ul li {
    width: 200px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.ha-menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.ha-menu-bar ul li:hover {
    background: #002745;
    border-radius: 3px;
}

.analysis-sub-menu {
    display: none;
}

.ha-menu-bar ul li:hover .analysis-sub-menu {
    display: block;
    position: absolute;
    background: #002745;
    margin-top: 15px;
    margin-left: -15px;
}

.ha-menu-bar ul li:hover .analysis-sub-menu ul {
    display: block;
    margin: 10px;
}

.ha-menu-bar ul li:hover .analysis-sub-menu ul li {
    width: 170px;
    padding: 20px;
    border-bottom: 1px solid #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.ha-menu-bar ul li:hover .analysis-sub-menu ul li:last-child {
    border-bottom: none;
}

.ha-menu-bar ul li:hover .analysis-sub-menu ul li a:hover {
    color: #0AC4EF;
}


.log-out {
    margin-top: 20px;
    margin-left: 50px;
    height: 35px;
    width: 85px;
    border-radius: 5px;
    background-color: #0AC4EF;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}

.log-out a {
    text-decoration: none;
}

.log-out a:hover {
    text-decoration: none;
    color: white;
}